<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jb-jpushtunnel" version="1.0.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JPushTunnelPlugin</name>
    <js-module name="JPushTunnelPlugin" src="www/JPushTunnelPlugin.js">
        <clobbers target="cordova.plugins.JPushTunnelPlugin" />
    </js-module>

     <platform name="android">    
        <source-file src="src/android/JPushTunnelPlugin.java" target-dir="src/com/tunnel/plugin"/>    
        <config-file target="res/xml/config.xml" parent="/*">    
            <feature name="JPushTunnelPlugin">    
                <param name="android-package" value="com.tunnel.plugin.JPushTunnelPlugin"/>    
            </feature>    
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <activity android:exported="true" android:name="com.tunnel.plugin.JPushReceiveActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
        </config-file>


        <source-file src="src/android/JPushReceiveActivity.java" target-dir="src/com/tunnel/plugin" />
        <source-file src="src/android/JPushNoticeHelper.java" target-dir="src/com/tunnel/plugin" />
        <source-file src="src/android/res/layout/activity_jpush_receive.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/drawable/splash_icon.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/values/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/style.xml" target-dir="res/values"/>

    </platform>  
</plugin>
